.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  height: 10vh;
}

.App-header img {
  height: 100%;
}

.App-nav {
}
.App-nav a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  display: inline-block; margin-right: 10px;
}

.App-main {
  min-height: 85vh;
  /*overflow-y: scroll;*/
}

.App-homePage {
  padding: 50px 0;
}

.App-results {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.App-results img {
  max-width: 50%;
  flex-grow: 1;
  margin-top: 20px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
